body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.pdf-viewer {
    display: block;
    padding: 20px;
    background-color: #f9f9f9;
    min-width: 600px;
}

canvas {
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 100%;
    min-width: 600px;
    height: auto;
}

.nav-links {
    position: fixed;
    top: 264px;
    min-width: 120px;
    font-size: 16px;
    right: 40px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

/* Zoom for screens between 1000px and 1199px */
@media (max-width: 1199px) {
    #nav-links {
        top: 264px;
        zoom: 90%;
    }
}

/* Zoom for screens between 800px and 999px */
@media (max-width: 999px) {
    #nav-links {
        top: 274px;
        zoom: 80%;
    }
}

/* Zoom for screens between 600px and 799px */
@media (max-width: 799px) {
    #nav-links {
        top: 294px;
        zoom: 70%;
    }
}

/* Zoom for screens smaller than 600px (mobile) */
@media (max-width: 599px) {
    #nav-links {
        top: 314px;
        zoom: 60%;
    }
}

.nav-links a {
    display: block;
    margin: 10px 0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #007bff;
}

.nav-button {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    z-index: 1001;
}

.nav-button i {
    font-size: 24px;
}

.nav-links {
    display: none;
    right: 20px;
}

.nav-button {
    display: block;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.no-bullets {
    list-style-type: none;
    padding-left: 20px;
}

.projects-section a {
    text-decoration: none;
}

.projects-section a:hover {
    color: #007BFF;
}

.project-link {
    display: flex;
    align-items: center;
}

.project-link i {
    min-width: 24px;
    margin-right: 4px;
}

@media (min-width: 1100px) {
    .nav-button {
        right: 220px;
    }

    .nav-links {
        right: 220px;
    }
}
